.label-info a {
    color: white;
}

.label {
    margin-right: 4px;
}

#ingredients li {
  display: inline;
  list-style-type: none;
  float: left;
}

#letters li {
  display: inline;
  list-style-type: none;
  float: left;
}

#recipe-panel {
    display: none;
}

#filter {
    display: none;
}

#reset-filter {
    float: right;
}